.shirkhan-dark-theme {
  background-color: #2e3440;
  color: #d8dee9;
}
.shirkhan-dark-theme p {
  color: #cccccc;
}

.shirkhan-dark-theme h2 {
  border-bottom: 1px solid #67696d;
}

.shirkhan-dark-theme h6 {
  color: hsl(0, 0%, 53%);
}

.shirkhan-dark-theme hr {
  background-color: hsl(0, 0%, 18%);
}

.shirkhan-dark-theme blockquote {
  color: #eee;
  background-color: rgba(66, 185, 131, 0.1);
}

.shirkhan-dark-theme table tr {
  border-top: 1px solid hsl(210, 10%, 11%);
}

.shirkhan-dark-theme table tr:nth-child(2n),
.shirkhan-dark-theme thead {
  background-color: hsl(0, 0%, 10%);
}

.shirkhan-dark-theme table tr th {
  border: 1px solid #5a5a5a;
}

.shirkhan-dark-theme table tr td {
  border: 2px solid #1d1d1d;
}

.shirkhan-dark-theme table thead th {
  background-color: hsl(0, 0%, 9%);
}
