.shirkhan-light-theme {
  color: #34495e;
}

.shirkhan-light-theme h2 {
  border-bottom: 1px solid #eee;
}

.shirkhan-light-theme h6 {
  color: #777;
}

.shirkhan-light-theme hr {
  background-color: #e7e7e7;
}

.shirkhan-light-theme blockquote {
  color: #777;
  background-color: #f8fafc;
}

.shirkhan-light-theme table tr {
  border: 1px solid #dfe2e5;
}

.shirkhan-light-theme table tr:nth-child(2n),
.shirkhan-light-theme thead {
  background-color: #fafafa;
}

.shirkhan-dark-theme table tr th {
  border: 1px solid #dfe2e5;
}

.shirkhan-light-theme table tr td {
  border: 1px solid #dfe2e5;
}

.shirkhan-light-theme table thead th {
  background-color: #f2f2f2;
}

.shirkhan-light-theme code,
.shirkhan-light-theme tt {
  padding: 2px 4px;
  border-radius: 2px;
  font-family: var(--font-monospace);
  font-size: 0.92rem;
  color: #2d7bf4;
}
